.root {
    -fx-focus-traversable: false;
}

#background {
    -fx-background-color: #464646;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

#labelUsername, #labelMusic, #labelSfx {
    -fx-text-fill: #ffffff;
    -fx-font-size: 27;
}