.root {
    -fx-focus-color: transparent;
    -fx-focus-traversable: false;
}

#backgroundPane{
    -fx-background-color: linear-gradient(to top left, #464646 0%, #363636 50%, #464646 100%);
}

#mainPane {
    -fx-background-color: #464646;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

#hboxPort {
    -fx-background-color: #464646;
    -fx-border-radius: 50 50 0 0;
    -fx-background-radius: 50 50 0 0;
    -fx-border-width: 1;
    -fx-border-color:
            linear-gradient(to right, #f57dc6 80%, #b3d5f2 100%)
            #b3d5f2
            transparent
            linear-gradient(to top, #fccf78 80%, #f57dc6 100%);
}

#hboxIp {
    -fx-background-color: #464646;
}

#hboxLogin {
    -fx-background-color: #464646;
    -fx-border-radius: 0 0 50 50;
    -fx-background-radius: 0 0 50 50;
    -fx-border-width: 1;
    -fx-border-color:
            transparent
            linear-gradient(to bottom, #b3d5f2 80%, #9ae6ae 100%)
            linear-gradient(to left, #9ae6ae 80%, #fccf78 100%)
            linear-gradient(to top, #fccf78 80%, #f57dc6 100%);
}

#labelUsername, #labelPort, #labelIp {
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
}

#titleHues {
    -fx-font-size: 100;
    -fx-text-fill: #b3d5f2;
}

#titleIn {
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
}

#titleThe {
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
}

#titleAir {
    -fx-font-size: 110;
    -fx-text-fill: #fccf78;
}

#titleHues, #titleIn, #titleThe, #titleAir {
    -fx-font-family: 'Raleway';
}

#errorMessage {
    -fx-text-fill: #ff0000;
}

#footer1 { -fx-background-color: #f57dc6; }
#footer2 { -fx-background-color: #b3d5f2; }
#footer3 { -fx-background-color: #9ae6ae; }
#footer4 { -fx-background-color: #fccf78; }

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway.ttf');
}