.root {
    -fx-focus-color: transparent;
    -fx-focus-traversable: false;
}

#backgroundPane{
    -fx-background-color: linear-gradient(to top left, #464646 0%, #363636 50%, #464646 100%);
}

#mainPane {
    -fx-background-color: #464646;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

#hboxPort {
    -fx-background-color: #464646;
    -fx-border-radius: 50 50 0 0;
    -fx-background-radius: 50 50 0 0;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: #1f1f1f;
}

#hboxIp {
    -fx-background-color: #464646;
}

#hboxLogin {
    -fx-background-color: #464646;
    -fx-border-radius: 0 0 50 50;
    -fx-background-radius: 0 0 50 50;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: #1f1f1f;
}

#labelUsername, #labelPort, #labelIp {
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
}

#titleHues {
    -fx-font-size: 100;
    -fx-text-fill: #b3d5f2;
}

#titleIn {
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
}

#titleThe {
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
}

#titleAir {
    -fx-font-size: 110;
    -fx-text-fill: #fccf78;
}

#titleHues, #titleIn, #titleThe, #titleAir {
    -fx-font-family: 'Raleway';
}

#errorMessage {
    -fx-text-fill: #ff0000;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway.ttf');
}