.root {
    -fx-focus-color: transparent;
    -fx-focus-traversable: false;
}

#backgroundPane{
    -fx-background-color: #363636;
}

#mainPane {
    -fx-background-color: #464646;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

#hboxPort {
    -fx-background-color: #464646;
    -fx-border-radius: 50 50 0 0;
    -fx-background-radius: 50 50 0 0;
}

#hboxIp {
    -fx-background-color: #464646;
}

#hboxLogin {
    -fx-background-color: #464646;
    -fx-border-radius: 0 0 50 50;
    -fx-background-radius: 0 0 50 50;
}

#labelPort {
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
}

#labelIp {
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
}

#textPort {
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-font-size: 20;
    -fx-focus-traversable: false;
}

#textIp {
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-font-size: 20;
    -fx-focus-traversable: false;
}

#button {
    -fx-background-color: #ffffff, #fccf78, #9ae6ae, #6aa1f7, #f57dc6, #464646;
    -fx-background-insets: 0, 1, 3, 6, 9, 11;
    -fx-padding: 25 25 25 25;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-text-fill: #ffffff;
    -fx-font-size: 27;
    -fx-focus-traversable: false;
}

#button:hover {
    -fx-background-color: #fccf78, #9ae6ae, #6aa1f7, #f57dc6, #363636;
    -fx-background-insets: 0, 3, 6, 9, 11;
}
